<% include ../partials/header %>

<div class="row" style="margin-left: 30px; margin-right: 30px">
  <form action="http://localhost:3000/manager/employees/add" method="post" class="col s12">
    <!--<input type="hidden" name="employeeId" value="">-->
    
    
    <div class="">
      <label for="employeeId" class="col-2 col-form-label"><b>Id</b></label>
      <div class="col-10">
        <input type="number" name="employeeId" value="" class="form-control">
      </div>
    </div>
    
    <div class="">
      <label for="employeeName" class="col-2 col-form-label"><b>Name</b></label>
      <div class="col-10">
        <input type="text" name="employeeName" value="" class="form-control">
      </div>
    </div>
    
    <div class="">
      <label for="employeePosition" class="col-2 col-form-label"><b>Employee's position</b></label>
      <div class="col-10">
        <input type="text" name="employeePosition" value="" class="form-control">
      </div>
    </div>
  
    <div class="form-group row" style="margin-top: 20px; margin-left: 0px">
      <div class="col-10">
        <input type="submit" name="submit" value="Save Employee" class="btn btn-primary btn-lg"
      </div>
    </div>
    
  </form>

</div>

 
<% include ../partials/footer %>
