<% include ../partials/header %>

<div class="" style="position: fixed; top: 50%; left: 50%; transform: translate(-50%, -50%)">
    <div class="col s12"> 
      <a href="/manager" class="btn btn-success btn-lg" style="font-size: 50">Manager</a>
      <a href="/employee" class="btn btn-success btn-lg" style="font-size: 50">Employee</a>
    </div>
</div>

<% include ../partials/footer %>
