<% include ../partials/header %>
  <div class="container-fluid">
    <div class="row">
      <% include ../partials/sidenav-top %>
        <li class="nav-item">
          <a class="nav-link active" href="http://localhost:3000/">
            <i class="fas fa-home"></i> Home
          </a>
        </li>
        <% include ../partials/sidenav-bottom %>
          <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
            <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
              <h1 class="h2"> Home </h1>
            </div>
            <div class="col align-middle" align="center">
              <h2 class="h3">Are you a Manager or Employee?</h2>
              <a href="/manager" class="btn btn-lg btn-outline-primary">Manager</a>
              <a href="/employee" class="btn btn-lg btn-outline-primary">Employee</a>
            </div>
          </main>

    </div>
  </div>

  <% include ../partials/footer %>