<% include ../partials/header %>
  <div class="container-fluid">
    <div class="row">
      <% include ../partials/sidenav-top %>
        <li class="nav-item">
          <a class="nav-link" href="http://localhost:3000/">
            <i class="fas fa-home"></i> Home </a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="/manager">
            <i class="fas fa-user"></i> Manager Dashboard</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/manager/employees">
            <i class="fas fa-users"></i> Employees</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/manager/tasks"> <i class="fas fa-tasks"></i> Tasks</a>
        </li>
        <% include ../partials/sidenav-bottom %>


          <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
            <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
              <h1 class="h2">Manager Dashboard</h1>
            </div>
            <div class="col align-middle" align="center">
              <h2 class="h3">What do you want to do?</h2>
              <a href="/manager/employees" class="btn btn-lg btn-outline-primary">Manage Employees</a>
              <a href="/manager/tasks" class="btn btn-lg btn-outline-primary">Manage Tasks</a>
            </div>
          </main>
    </div>
  </div>
  <% include ../partials/footer %>